<h1> {{ topic.topic }} </h1>

<form [formGroup]="form" (submit)="onSubmit()">
    <div *ngFor="let question of topic.questionAndAnswers; let questionIndex = index;">
        <h3> {{question.text}} </h3>
        <div *ngFor="let answer of question.answers; let answerIndex = index;">
            <input type="checkbox" [id]="question.text + answerIndex" [formControl]="form.controls[topic.topic].controls[questionIndex].controls[answerIndex]">
            <label [for]="question.text + answerIndex"> {{ answer.text }} </label>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
