<p *ngIf="userResults.length > 0">{{score}} out of {{ userResults.length }} questions answered correctly ({{score /
userResults.length
    | percent}})</p>
<div *ngFor="let resultOfQuestion of userResults">
    <div>
        <p style="font-weight: bold;">{{resultOfQuestion.questionAndAnswers.text}}</p>
        <p *ngIf="resultOfQuestion.userAnswers.isCorrect" style="color: green;">Your answer
            '{{resultOfQuestion.userAnswers.text}}' is correct</p>
        <div *ngIf="!resultOfQuestion.userAnswers.isCorrect">
            <p style="color: red;">Your answer '{{resultOfQuestion.userAnswers.text}}' is wrong</p>
            <p>Correct answer: '{{returnCorrectAnswer(resultOfQuestion.questionAndAnswers.answers).text}}'</p>
        </div>
        <hr>
    </div>
</div>
