<p>
    {{ score.correctlyAnsweredQuestions }} out of {{ score.questionCount }} questions
    answered correctly ({{score.correctlyAnsweredQuestions /
    score.questionCount | percent}})
</p>
<div *ngFor="let result of userResults">
    <p style="font-weight: bold;">{{ result.text}}</p>
    <div *ngFor="let answer of result.answers">
        <p *ngIf="answer.answeredCorrectly" style="color: green;">Your answer
            '{{ answer.text }}' is correct</p>
        <div *ngIf="!answer.answeredCorrectly">
            <span style="color: red;"> {{ answer.text }}: You selected '{{ !!answer.checkedByUser }}' that is wrong. Correct answer was: '{{answer.isCorrect}}'</span>
        </div>
    </div>
    <hr>
</div>
